/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
header {
  background-color:#EBEBEB;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
  font-size: 20px;
}
header a {
  color: black; 
  text-decoration: none; 
}
header h2 {
  margin-left: 40px;
}
.header-list {
  display: flex;
  align-items: center;
}
input[type="submit"] {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}
footer {
  color: white;
  height: 30px;
  background-color: #9B9B9B;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-shadow: 0 -5px 20px -5px rgba(0,0,0,0.5);
}

.gnavi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  margin:80px 0 60px 0;
  list-style: none;
}

.gnavi li a{
  display: block;
  padding:10px 30px;
  text-decoration: none;
  color: #333;
}

.gnavi li{
  margin-bottom:20px;
  font-family: 'Open Sans', sans-serif;
}
/*=================================
左から右に線が伸びる（下部）
===================================*/
.gnavi li a{
/*線の基点とするためrelativeを指定*/
position: relative;
}
.gnavi li.current a,
.gnavi li a:hover{
color:#0481A2;
}
.gnavi li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background:#0481A2;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: left top;/*左上基点*/
}
/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}
/*========= レイアウトのためのCSS ===============*/
.lead{
padding: 50px 20px;
}

