.post-container {
  opacity: 0.9;
  margin: 50px auto;
  width: 80%;
  border: solid #EBEBEB;
  border-radius: 10px;
  text-align: center;
  background-color: #EBEBEB;
  border-radius :50px;
  align-items: center;
}
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}
input[type="text"] {
  width: 95%;
  height: 40px;
}
input[type="submit"] {
  width: 200px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

input[type="search"]{
  width: 220px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.post_form {
  align-items: center;
}
.hoge {
  align-items: center;
  width: 95%;
}