h2 {
  margin-left: 10px;
  text-align: center;
}
.books-container {
  width: 80%;
  margin: 10px auto;
}
h3 {
  margin-bottom: 30px;
  margin-left: 10px;
}
.book {
  border-top: solid #EBEBEB;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}
.books-container ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-btween;
}
#first-block {
  background-image: url("whiteimage.jpg");
  background-size: cover;
  width: 100%;
  height: 750px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#second-block {
  background-color :white;
  width: 100%;
  height: 1450px;
}
#third-block {
  background-color :#DEDEDE;
  background-size: cover;
  width: 100%;
  height: 1300px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#forth-block {
  background-image: url("book-image.jpg");
  background-size: cover;
  width: 100%;
  height: 850px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.forthblock {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
